<h1>Reservation ID# <%= "#{@reservation.id}" %></h1>

<div class="grid grid-pad">
  <div class="col-2-3">
    TEST HERE YO TEST HERE 3
  </div>
  <div class="col-1-3">
    SIDEBARS HERE
    SIDEBARS HERE
  </div>
</div>

<br>

<p>
  <strong>Prefix</strong><br>
  <%= @reservation.prefix_one %>
</p>

<p>
  <strong>First Name</strong><br>
  <%= @reservation.f_name_one %>
</p>

<p>
  <strong>Last Name</strong><br>
  <%= @reservation.l_name_one %>
</p>

<p>
  <strong>Second Prefix</strong><br>
  <%= @reservation.prefix_two %>
</p>

<p>
  <strong>Second First Name</strong><br>
  <%= @reservation.f_name_two %>
</p>

<p>
  <strong>Second Last Name</strong><br>
  <%= @reservation.l_name_two %>
</p>

<p>
  <strong>Full Company Name</strong><br>
  <%= @reservation.full_company_name %>
</p>

<p>
  <strong>Title</strong><br>
  <%= @reservation.title %>
</p>

<p>
  <strong>MLA Title</strong><br>
  <%= @reservation.l_name_two %>
</p>

<p>
  <strong>Mailing Address</strong><br>
  <%= @reservation.mailing_address %>
</p>

<p>
  <strong>Suite</strong><br>
  <%= @reservation.suite %>
</p>

<p>
  <strong>City</strong><br>
  <%= @reservation.city %>
</p>

<p>
  <strong>State</strong><br>
  <%= @reservation.state %>
</p>

<p>
  <strong>ZIP</strong><br>
  <%= @reservation.zip %>
</p>

<p>
  <strong>Work Phone</strong><br>
  <%= @reservation.work_phone %>
</p>

<p>
  <strong>Cell Phone</strong><br>
  <%= @reservation.cell_phone %>
</p>

<p>
  <strong>Email Address</strong><br>
  <%= @reservation.email_address %>
</p>

<p>
  <strong>Re-enter Email Address</strong><br>
  <%= @reservation.re_enter_email_address %>
</p>

<p>
  <strong>Supplier, Guest or Speaker</strong><br>
  <%= @reservation.supplier_guest_speaker %>
</p>

<p>
  <strong>Hotel Arrival</strong><br>
  <%= @reservation.hotel_arrival %>
</p>

<p>
  <strong>Hotel Departure</strong><br>
  <%= @reservation.hotel_departure %>
</p>

<p>
  <strong>Room Type</strong><br>
  <%= @reservation.room_type %>
</p>

<p>
  <strong>Special Needs</strong><br>
  <%= @reservation.special_needs %>
</p>

<p>
  <strong>Special Requests</strong><br>
  <%= @reservation.special_requests %>
</p>

<%= link_to "HOME INDEX", reservations_path %> <br>
